@using Microsoft.Extensions.Hosting
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewBag.PageTitle ?? ViewBag.Title) - CC98 查老师</title>

	<environment include="@Environments.Development">
		<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

		<link rel="stylesheet" href="~/css/site.css" />
	</environment>

	<environment exclude="@Environments.Development">

		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
			  integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
			  crossorigin="anonymous"
			  asp-fallback-test-class="fa"
			  asp-fallback-test-property="display"
			  asp-fallback-test-value="inline-block"
			  asp-fallback-href="~/lib/font-awesome/css/all.min.css" />

		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
			  integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
			  crossorigin="anonymous"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position"
			  asp-fallback-test-value="absolute"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css" />

		<link rel="stylesheet" href="css/site.min.css" asp-append-version="true" />

	</environment>

	@await RenderSectionAsync("Head", false)

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CC98 查老师</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			<div class="text-center">
				&copy; 2019 - CC98 查老师 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>
		</div>
	</footer>

	<environment include="@Environments.Development">
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/popper.js/umd/popper.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>

		<script src="~/js/site.js"></script>
	</environment>

	<environment exclude="@Environments.Development">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
				integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
				crossorigin="anonymous"
				asp-fallback-test="window.jQuery"
				asp-fallback-src="~/lib/jquery/jquery.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
				integrity="sha256-x3YZWtRjM8bJqf48dFAv/qmgL68SI4jqNWeSLMZaMGA="
				crossorigin="anonymous"
				asp-fallback-test="window.Popper"
				asp-fallback-src="~/lib/popper.js/umd/popper.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
				integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s="
				crossorigin="anonymous"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"></script>

		<script src="~/js/site.min.js" asp-append-version="true"></script>

	</environment>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
